
<div class="modal-header">
  
    <h2 class="modal-title">Afslut Tur</h2>
    <button type="button" class="close" aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"><span aria-hidden="true">&times;</span>
    </button>

</div>
<div class="modal-body">
<form>
<div class="table-responsive">
<table class = "table">
<thead>
  <tr>
    <th>Båd</th>
    <th>Mandskab</th>
    <th>Km</th>
    <th>Endelig distination</th>
    <th>Hjemkomst</th>
    <th>Afgang</th>
  </tr>
</thead>
  <tbody>
      <tr>
          <td> 
          <p>{{valgttur.boat.bnavn}}</p>
          </td>
  
            <td>
             <div *ngIf ="valgttur.styrmand">
              <p><u>Styrmand</u>: {{valgttur.styrmand.fornavn}} {{valgttur.styrmand.efternavn}}</p></div>
              <u>Roerer</u>:
              <p *ngFor = "let item of valgttur.turmedlems"> {{item.member.fornavn + ' ' + item.member.efternavn}}</p>
            </td>

            <td>
                <input type="number" required class="form-control" id="km" [(ngModel)]="km" name="km">
            </td>

            <td>
                  <input type = "text"  name="endeligdestination" [(ngModel)] ="valgttur.destiId" required>
            </td>

            <td>
                  <input type = "text"  name="Hjemkomst" [(ngModel)] ="valgttur.forventetHjemkomst" required>
            </td>

            <td>
                 <p>{{valgttur.afgang}}</p> 
            </td>
        </tr>
  
    <div class="modal-footer">
      
        <button type="button" class="btn btn-danger mr-auto" (click)="activeModal.dismiss('Close clicked')">Fortryd</button>
        <button type="button" class="btn btn-success" ngbAutofocus (click)="update()">Afslut</button>
      </div>
    
</table>
</div>
</form>
</div>
