<div style="text-align:center">
<div class="container d-flex justify-content-center p-4">
    
  <h1 class= "align-left">
    {{ title }}
  </h1>
  <img src="assets/img/Asr-logo-gray.png" class= "align-left" alt="Responsive image">
</div>
</div>
  <!-- [...] -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5 ">
    <div class="container">
  
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/home">Forside</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/stamkort">Stamkort</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/rettighed">Tildel Rettighed</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/ebs">EBS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/opret-medlem">Opret Medlem</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/statetik">Statestik</a>
        </li>
        
      </ul>
    </div>
  </nav>
<router-outlet ></router-outlet>