<div class="modal-header">
    <h4 class="modal-title text-center">Tjek venligst alle oplysninger er korrekte</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <form>
        <div class="card" >
            <div class="card-body">  
               
                <h5 class="card-title text-center">Opret Nyt Medlem</h5>
                
                <div class="container">
                    
                
                    <div class="container">
                        <p class="text-center">Udfyld den nedenstående information sammen med det nye medlem. <b>Husk at oplyse medlemmet om medlemsnummer</b></p>
                        <div class="jumbotron" style=" background-color: #DFF1FC !important;">
                            <div>
                                <div class="row">
                                    
                                    <div class="row ml-1"><b>Undertegnede</b></div> <div class="ml-auto mr-3"><b>Medlemsnummer: 123345</b></div> 
                                    
                              
                            </div>
                            <div class="row mt-4 py4">
                                
                                    <b>Navn</b>
                                   
                                   
                                        <div class="col">
                                            {{nytmember.fornavn}}{{nytmember.mellemnavn}}{{nytmember.efternavn}}
                                        </div>
                                   
                                    
                               
                            </div>
                            
                            <div class="row mt-4 py4">
                                <b>Adresse </b>
                                <div class="col">
                                    {{nytmember.adresse}}
                                </div>
                                <b>Postnummer</b>
                                <div class="col">
                                    
                                    {{nytmember.postnummer}}
                                </div>
                                <b>By</b>
                                <div class="col">
                                   
                                    {{nytmember.city}}
                                </div>
                                
                               
                            </div>
                               
                            <div class="row mt-4 py4">
                                <b>Telefon</b>
                                <div class="col">
                                    
                                    {{nytmember.telefon}}
                                </div>
                                <b>Email</b>
                                <div class="col">
                                    
                               {{nytmember.email}}
                                </div>
                                <div class="col">

                                </div>
                            </div>
                            <div class="row mt-4 py4">
                                <b>Fødelsdato</b><fa-icon [icon]="faCalendarAlt"></fa-icon>
                                {{nytmember.startDateModel.day}} {{nytmember.startDateModel.month}} {{nytmember.startDateModel.year}} 
                                                 </div>                                    
                               
                        <hr>
                        </div>
                            <div class="row">
                                <div *ngIf="nytmember.content ==true">
                                   samtykke 
                               </div>
                            </div>
                    
                             <div class="row mt-4 py4">
                                <div class="col">
                                    <p>Tidligere roklub</p>
                                   {{nytmember.tklub}}
                                   {{nytmember.tklubnavn}}
                                </div>
                               
                            </div>
                            <div class="row mt-5 py4">
                                <div class="mx-auto">
                                    <button type= "button" class="btn btn-danger" (click)="Opret()" (click)="activeModal.close('Close click')" >Opet Nyt Medlem</button>
                                </div>
                            </div>
    <p>{{nytmember | json}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  </div>