<div class = "container">
    <div class="jumbotron">
        <div class="container">
            <div class = "row">
                <div class="col-sm">
                    <!--Medlemsinfo card--> 
                    <form>
                        <div class="card" >
                            <div class="card-body">  
                               
                                <h5 class="card-title text-center">Opret Nyt Medlem</h5>
                                
                                <div class="container">
                                    
                                
                                    <div class="container">
                                        <p class="text-center">Udfyld den nedenstående information sammen med det nye medlem. <b>Husk at oplyse medlemmet om medlemsnummer</b></p>
                                        <div class="jumbotron" style=" background-color: #DFF1FC !important;">
                                            <div>
                                                <div class="row">
                                                    
                                                    <div class="row ml-1"><b>Undertegnede</b></div> <div class="ml-auto mr-3"><b>Medlemsnummer: 123345</b></div> 
                                                    
                                              
                                            </div>
                                            <div class="row mt-4 py4">
                                                
                                                    <b>Navn</b>
                                                   
                                                   
                                                        <div class="col">
                                                            <input type="text" placeholder="Fornavn" name="fornavn" [(ngModel)]="member.fornavn">
                                                        </div>
                                                        <div class="col">
                                                            <input type="text" placeholder="Mellemnavn" name="Mellemnavn" [(ngModel)]="member.mellemnavn">
                                                        </div>
                                                        <div class="col">
                                                            <input type="text" placeholder="Efternavn" name="Efternavn" [(ngModel)]="member.efternavn">
                                                        </div>
            
                                                    
                                               
                                            </div>
                                            
                                            <div class="row mt-4 py4">
                                                <b>Adresse </b>
                                                <div class="col">
                                                    
                                                
                                                <input type="text" placeholder="Adresse" name="Adresse" [(ngModel)]="member.adresse">
                                                </div>
                                                <b>Postnummer</b>
                                                <div class="col">
                                                    
                                                    <input type="number" placeholder="postnummer" name="postnummer" [(ngModel)]="member.postnummer">
                                                </div>
                                                <b>By</b>
                                                <div class="col">
                                                   
                                                    <input type="text" placeholder="By" name="city" [(ngModel)]="member.city">
                                                </div>
                                                
                                               
                                            </div>
                                               
                                            <div class="row mt-4 py4">
                                                <b>Telefon</b>
                                                <div class="col">
                                                    
                                                    <input type="phone" placeholder="Telefonummer" name="telefon" [(ngModel)]="member.telefon">
                                                </div>
                                                <b>Email</b>
                                                <div class="col">
                                                    
                                                    <input type="email" placeholder="Email" name="Email" [(ngModel)]="member.email">
                                                </div>
                                                <div class="col">
    
                                                </div>
                                            </div>
                                            <div class="row mt-4 py4">
                                                <b>Fødelsdato</b>
                                                <div class="col">
                                                    <div class="form-check-inline py-2">
                                                        <div class="form-group">
                                                           <div class="input-group">
                                                               <input class="form-control" data-toggle="tooltip" data-placement="top" title="Vælg dit starttidspunkt - skal være d-m-yyyy" placeholder="d/m/yyyy" name="dp"  [(ngModel)]="member.startDateModel" ngbDatepicker #d="ngbDatepicker">
                                                                 <div class="input-group-append">
                                                                   <button name="Startdate" [(ngModel)]="member.startDateModel" (click)="d.toggle()" type="button"><fa-icon [icon]="faCalendarAlt"></fa-icon></button>
                                                                 </div>                                    
                                                           </div>
                                                       </div>
                                                     </div>
                                                </div>
                                                   
                                            </div>
                                        <hr>
                                        </div>
                                            <div class="row">
                                                <p><b>Indmelder sig hermed i Aarhus Studenter Roklub fra dags dato. <br>
                                                         Jeg erklærer at kunne svømme 300 meter. Indmeldelsen er bindende for en sæson. Udmeldelse skal ske skriftligt.</b></p>
                                            </div>
                                            <div class="row">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="cencent" [(ngModel)]="member.concent">
                                                    <label class="form-check-label" for="cencent">Accepter betingelser <br> <small>Læs betingelser <a href="#">her</a></small> </label>
                                                </div>
                                             </div>
                                             <div class="row mt-4 py4">
                                                <div class="col">
                                                    <p>Har du tidligere roet i en roklub?</p>
                                                   
                                                </div>
                                                <div    class="col">
                                                    <div class="btn-group btn-group-toggle" ngbRadioGroup name="TidligereKlub" [(ngModel)]="member.tklub">
                    
                                                        <label ngbButtonLabel class="btn-primary">
                                                          <input ngbButton type="radio" [value]="false"> Nej
                                                        </label>
                                                        <label ngbButtonLabel class="btn-primary">
                                                          <input ngbButton type="radio" [value]="true"> Ja
                                                        </label>
                                                      </div>
                                                </div>
                                                </div>
                                            
                                            <div *ngIf="member.tklub ==true" class="row mt-4 py4">
                                                <div class="col">
                                                    <label>Tidligere klub<input type="test" placeholder="Tidligere klub" [(ngModel)]="member.tklubnavn"></label>
                                                    <p> <i>Obs! Vi ønsker et overflytterbevis fra din tidligere klub, som sendes til instruktionschefen.</i></p>
                                                </div>
                                            </div>
                                            <div class="row mt-5 py4">
                                                <div class="mx-auto">
                                                    <button type= "button" class="btn btn-danger" (click)="openOpretMemberModal()">Opet Nyt Medlem</button>
                                                </div>
                                            </div>
                            </div>        
                             </div>
                            </div>
                            <div>
                                <pre>{{member | json}}</pre>
                            </div>
                        </div>
                                        
                    </div> <!--Lukker medlemsinformation card-->   
         
                        
                    </form>   