<fieldset class="form-inline">
    <div class="form-group">
      <label for="typeahead-http">Vælg medlem:</label>
      <input id="typeahead-http" type="text" class="form-control mx-sm-3" [class.is-invalid]="searchFailed" (selectItem)="selectedNameItem($event)" [(ngModel)]="modelName" [ngbTypeahead]="search" placeholder="Vælg medlem" [resultFormatter]="formatMatches"
/>
      <small *ngIf="searching" class="form-text text-muted">searching...</small>
      <div class="invalid-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>
    </div>
  </fieldset>
  <hr>
  <pre>Model: {{ modelName | json }}</pre>
  clicked item {{clickedNameItem}}
