<fieldset class="form-inline">
    <div class="form-group">
      <label for="typeahead-http">Vælg en båd:</label>
      <input id="typeahead-http" type="text" class="form-control mx-sm-3" [class.is-invalid]="searchFailed" (selectItem)="selectedItem($event)" [(ngModel)]="model" [ngbTypeahead]="search" placeholder="Vælg båd" typeaheadOptionField ="bnavn" [resultFormatter]="formatMatches"
/>
      <small *ngIf="searching" class="form-text text-muted">searching...</small>
      <div class="invalid-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>
    </div>
  </fieldset>
  <hr>
  <pre>Model: {{ model | json }}</pre>
  clicked item {{clickedItem}}
<!--
  <form [formGroup]="form" (submit)="add()">
   <div>
        <ul formArrayName="resources">
            <li *ngFor="let item of resources.controls; let i = index">
              <span [formGroupName]="i">
                <input  Input type="number" placeholder="Enter Resource Number"
                formControlName="id"/> 
              </span>
            </li>       
        </ul>
    </div>
<div fxLayout>
    <div>
        <button
          mat-raised-button
          color="accent"
          [disabled]="form.invalid">Save
        </button>
    </div>
</div>
</form>
-->