
<div class="container">    
    <div class="card">
        <div class="card-header">
            <h5 class="text-center text-shadow">Velkommen til ASR's online tjenester</h5>
        </div>
        <div class="card-body">
            <div class="container">
                <div>
                    <p>Via EBS'en kan du sætte og afslutte en båd</p>
                    <p>Du kan også se dit stamkort, hvor du kan opdatere dine personlige oplysninger og følge din ro-mæssige progration</p>
                </div>

                <div>
                    <small style="font-family:'Courier New'">wrap i ng-if "instructor"</small>  
                    <p>Da du er instruktør har du mulighed for at tildele rettigheder og oprette medlemmer</p>
                </div>          
                <div>
                    <small style="font-family:'Courier New'">wrap i ng-if "bestyrelse"</small>  
                    <p>Da du er medlem af bestyrelsen har du administrator adgang</p>
                </div>       
            </div>
        </div>
    </div>
    <div class="card-footer text-center">
        <small class="text-muted">Er der spørgsmål, bedes disse henvendt til: itchef <fa-icon [icon]="faAt"></fa-icon> asr.dk <br>
          <fa-icon [icon]="faCopyright"></fa-icon> ASR 2009 - 2020 Udviklet af Nicolaj Kold Zefting</small>
      </div>   
</div>
