<div class="container">
    <div class="jumbotron">
        <div class="container">
            <div class="card">
                <div class="card-header text-center">
                    <h6>Statestik</h6>
                </div>
                <div class="card-body">
                    <div class="container">  
                        <ul ngbNav #nav="ngbNav" class="nav-tabs">
                            <li ngbNavItem>
                            <a ngbNavLink>Medlemskilometer</a>
                            <ng-template ngbNavContent>
                                <div class="container">
                                    <div class="row">
                                        <div class="mx-auto">
                                            <p>Vælg medlem</p>
                                            <div class ="container">
                                                <div class = "card" style="max-width: 18rem;">
                                                  <div class = "card-body">
                                                    <p class="card-text">Simulerer router-id</p>
                                                    <ng-multiselect-dropdown
                                                    [placeholder]="'Vælg medlem'"
                                                    [settings]="mdropdownSettings"
                                                    [data]="mdropdownList"
                                                    [(ngModel)]="mselectedItems"
                                                    (onSelect)="onmItemSelect($event)"
                                                    >
                                                    </ng-multiselect-dropdown>
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="container">
                                            <div style="display: block">
                                              <canvas baseChart
                                                      [datasets]="barChartData"
                                                      [labels]="barChartLabels"
                                                      [options]="barChartOptions"
                                                      [legend]="barChartLegend"
                                                      [chartType]="barChartType">
                                              </canvas>
                                            </div>
                                          </div>
                                    </div>
                                   
                                </div>
                            </ng-template>
                            </li>

                            <li ngbNavItem>
                            <a ngbNavLink>Båd-km</a>
                            <ng-template ngbNavContent>Second content

                            </ng-template>
                            </li>

                        </ul>
                        <div [ngbNavOutlet]="nav"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
