.date-container{
    position: relative;
  }
  .shadow-input {
    position: absolute;
    top: 22px;
    width: 0px;
    height: 0px;
    border: none;
  }
  span.remove-date{
    position: absolute;
    right: 16px;
    top: 0px;
    font-size: 24px;
    cursor: pointer;
  }
  input, label {
    display:block;

}
ngb-timepicker {
  font-size: 0.8rem;
  
}
label {
  width:180px;
  clear:left;
  text-align:right;
  padding-right:5px;
}
.customBtnWidth {
  width: 150px !important;
}
.card{
  background-color: #fff!important;
  
  }
.form-container {
  background-color: #DFF1FC;

}

