<div class="row">
    <form #f="ngForm">
         <!--viser notifination ved opret sucess eller error-->
  <ngb-alert *ngIf="!staticAlertClosed" (close)="staticAlertClosed = true">{{message}}</ngb-alert>
        <div ngModelGroup="model">
  <div class="col-sm-6">
    <div class="container w-75" id = "form-container"> 
 
<div class="card bg-info mb3">
          <div class="row align-items-start">
           <div class="mx-auto text-center">
             <div class="form-check-inline">
              <!--Det er måske en god ide at ændre dette til data-toggle="buttons"-->
              <label> Skal du på langtur?
                  <button type="button" [ngClass]="
                                                    {
                                                      'btn btn-sm btn-primary customBtnWidth ': this.model.ModelLtur,
                                                      'btn btn-sm btn-danger customBtnWidth ': !this.model.ModelLtur
                                                    }"  
                                        (click)="toggleltur()" data-toggle="tooltip" data-placement="top" title="Click hvis du skal på langtur"
                  >
                                        <p *ngIf="this.model.ModelLtur" class =".d-none" > Langtur</p>
                                        <p *ngIf="!this.model.ModelLtur" class =".d-none" > Dagligt farvand</p>
                    </button>
              </label>    
            </div>
          </div>
        </div>   
          
          <div class="form-check-inline py-2">
            <div class="col-sm">
              <fieldset class="form-inline">
                 <div class="form-group " >
                 <label for="typeahead-Boat">Vælg destination:</label><br>
                 <input id="typeahead-desti" type="text" class="form-control" data-toggle="tooltip" data-placement="top" title="Vælg din destination" [class.is-invalid]="searchFailed" (selectItem)="selectedDestiItem($event)" [(ngModel)]= "model.destiModel" name ="destiModel"  [ngbTypeahead]="destisearch" placeholder="Vælg destination" typeaheadOptionField ="bnavn" [inputFormatter]="formatDestiInputMatches" [resultFormatter]="formatDestiMatches"/>
                 <div class="invalid-feedback" *ngIf="searchFailed">Den valgte båd findes ikke.</div>
                 </div>
              </fieldset>
              </div>
          </div>
<div class="pt-2">
  <!--vælg starttidspunkt-->  
  <div class="col-sm">   
     <div class="form-check-inline py-2">
       <div class="form-group">
          <div class="input-group">
            <label for="Startdate">Starttidspunkt: </label>
              <input class="form-control" data-toggle="tooltip" data-placement="top" title="Vælg dit starttidspunkt - skal være d-m-yyyy" placeholder="d/m/yyyy" name="dp"  [(ngModel)]="model.startDateModel" ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                  <button name="Startdate" [(ngModel)]="model.startDateModel" (click)="d.toggle()" type="button"><fa-icon [icon]="faCalendarAlt"></fa-icon></button>
                </div>
                  <button class="btn btn-sm btn-primary mr-2" type="button"  (click)="selectStartDateToday()">I dag</button>
                    <div class="input-group-append">
                      <label for="Starttid">Klokken:</label>
                       <div>
                          <ngb-timepicker size="small" data-toggle="tooltip" data-placement="top" title="Afgangstidspunkt i HH : MM" name="Starttid" [spinners]="false" [(ngModel)]="model.Starttid"></ngb-timepicker>
                       </div>
                       <button class="btn btn-sm btn-primary mr-2" type="button"  (click)="selectafgangnu()">nu</button> 
                    </div>

          </div>
      </div>
    </div>
  </div>
  <!--vælg Forventethjemkomst-->
    <div class="col-sm">
      <div class="form-check-inline">
          <div class="form-group">
            <div class="input-group">
                <label for="Slutdate">Forventet hjemkomst: </label>
                <input class="form-control" data-toggle="tooltip" data-placement="top" title="Vælg din forventede hjemkomst - skal være d-m-yyyy" placeholder="d/m/yyyy" name="Slutdate"  [(ngModel)]="model.slutDateModel" ngbDatepicker #b="ngbDatepicker">
                <div class="input-group-append"> 
                  <button name="Slutdate" (click)="b.toggle()" [(ngModel)]="model.slutDateModel"  type="button"><fa-icon [icon]="faCalendarAlt"></fa-icon></button>
                </div>
                 <button class="btn btn-sm btn-primary mr-2" type="button"  (click)="selectSlutDateToday()">I dag</button>
                 <div class="input-group-append">
                    <label for="slutTid">Klokken:</label>
                    <div>
                      <ngb-timepicker size="small" name="slutTid" data-toggle="tooltip" data-placement="top" title="Hjemkomst i HH : MM" [spinners]="false" [(ngModel)]="model.slutTid"></ngb-timepicker>
                    </div>
                  </div>
            </div>
          </div>
      </div>
      </div>           
</div>
 <!--div lukker Jumbotron -->
</div>

  </div>


  <div class="col-sm-6">
    <div class = "container"> 
        <div class = "card bg-info mb3">
        <div class="row">
            <div class="col-sm m-1">
              <fieldset class="form-inline">
                <div class="form-group">
                  <label for="typeahead-Boat">Vælg båd:</label><br>
                  <input id="typeahead-Boat" type="text" data-toggle="tooltip" data-placement="top" title="Vælg båd" class="form-control" [class.is-invalid]="searchFailed" (selectItem)="selectedBoatItem($event)" [(ngModel)]= "model.modelBoat" name ="modelBoat"  [ngbTypeahead]="boatsearch" placeholder="Vælg båd" typeaheadOptionField ="bnavn" [inputFormatter]="formatMatches" [resultFormatter]="formatMatches"/>
                  <div class="invalid-feedback" *ngIf="searchFailed">Det var ikke mulgt at hente nogle både.
                  </div>
                </div>
              </fieldset>
              <!--lav linje mellem styrmand og båd-->
      <hr>
        
                   <!--Hvis båden kræver en styrmand - vis felt-->
                      <div *ngIf = "cox == 1">
                        <fieldset class="form-inline m-1 pb-1">
                          <div class="form-group">
                            <label for="typeahead-cox">Vælg styrmand:</label>
                            <input id="typeahead-cox" type="text" class="form-control" [class.is-invalid]="searchFailed"  (selectItem)="selectedCoxItem($event)" [(ngModel)]="model.modelCox" name ="modelCox"  typeaheadOptionField ="mcox" [ngbTypeahead]="namesearch" placeholder="Vælg Styrmand"  [inputFormatter]="formatCoxMatches" [resultFormatter]="formatCoxMatches"/>
                            <div class="invalid-feedback" *ngIf="searchFailed">Det var ikke muligt at hente nogen medlemmer.</div>
                           </div>
                        </fieldset>
                      </div>
                      <!--Antal roerer i båden - ngFor resources.controls sker i ngOnInit() -->
                      <div *ngFor="let item of resources.controls; let i = index">     
                        <fieldset class="form-inline m-1 pb-1">
                        <div class="form-group">
                          <label for="typeahead-member{{i}}">Vælg medlem:</label>
                          <input id="typeahead-member{{i}}" type="text" class="form-control" [class.is-invalid]="searchFailed"  (selectItem)="selectedNameItem($event)" [(ngModel)]="model.modelName[i]" name ="modelName{{i}}"  typeaheadOptionField ="mnavn" [ngbTypeahead]="namesearch" placeholder="Vælg medlem"  [inputFormatter]="formatNameInputMatches" [resultFormatter]="formatNameMatches"/>
                          <div class="invalid-feedback" *ngIf="searchFailed">Det var ikke muligt at hente nogen medlemmer.</div> 
                        </div>
        
                        </fieldset>
                      </div> 
      
      
            
            </div>
          </div>
            
          <!--lukker card-->            
          </div>
         <!--lukker container--> 
        </div>
  </div>
</div>
        </div>
    </form>