<div class="modal-header">
    <h5 class="modal-header text-center">Rediger dine medlemsinformationer</h5>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    <div class="modal-body">
        <form>
           <div class = container>
               <div class = "row">
                    <div class =col-sm-6>
                        <div class="card text-center" style="width: 18rem;">
                            <div class="card-body">  
                                <div class = "container">
                                
                                    <ul class="list-group list-group-flush" name ="valgtMember" >
                                        <li class="list-group-item" > 
                                    
                                    
                                            <label> <b>Medlemsnummer</b> <br>
                                                <input type = "text"  name="medlemsnummer" [(ngModel)] = "valgtMember[0].medlemsnummer">
                                            </label>
                                        </li >
                    
                                        <li class="list-group-item" >
                                            <div>
                                                <label> <b>Fornavn</b><br>
                                                    <input type = "text"  name="fornavn" [(ngModel)] = "valgtMember[0].fornavn">
                                                </label>
                                            </div>
        
                                            <div>
                                                <label> <b>Mellemnavn</b><br>
                                                    <input type = "text"  name="mellemnavn" [(ngModel)] = "valgtMember[0].mellemnavn">
                                                </label>
                                            </div>
                                    
                                            <div>
                                                <label> <b>Efternavn</b><br>
                                                    <input type = "text"  name="efternavn" [(ngModel)] = "valgtMember[0].efternavn">
                                                </label>
                                            </div>
                                    
                                        <li class="list-group-item">
                                            <label> <b>Adresse</b><br>
                                                <input type = "text"  name="adresse" [(ngModel)] = "valgtMember[0].adresse">
                                            </label>
        
                                        </li>
        
                                        
                                    </ul>
                                </div>  
                            </div>
                        </div> <!--Lukker medlemsinformation card-->  
                    </div> 
                    <div class= "col-sm-6">
                        <div class="card text-center" style="width: 18rem;">
                            <div class="card-body">  
                                <div class = "container">
                                    <ul class="list-group list-group-flush" name ="valgtMember">
                                        <li class="list-group-item">
                                            <label> <b>Telefon</b><br>
                                                <input type = "text"  name="telefon" [(ngModel)] = "valgtMember[0].telefon">
                                            </label>
        
                                        </li>
                                        <li class="list-group-item">
                                            <div>
                                                <label> <b>Postnummer</b><br>
                                                    <input type = "text"  name="postnummer" [(ngModel)] = "valgtMember[0].postnummer">
                                                </label>
                                            </div>
                                    
                                            <div>
                                                <label> <b>By</b><br>
                                                    <input type = "text"  name="city" [(ngModel)] = "valgtMember[0].city">
                                                </label>
                                            </div>
                            
                                        </li>
    
                                        <li class="list-group-item">
                                            <label> <b>Email</b><br>
                                                <input type = "email"  name="email" [(ngModel)] = "valgtMember[0].email">
                                            </label>
         
                                        </li>
                                        <li class="list-group-item">
                                            <label> <b>Fødselsdato</b><br>
                                                <input type = "text"  name="bdato" [(ngModel)] = "valgtMember[0].bdato">
                                            </label>
        
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
            
        </form>  
        
    </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Fortryd</button>
    <button type="button" class="btn btn-success" ngbAutofocus (click)="update()">Rediger</button>
  </div>
