<div class="container">
  <div class = "row">
    <div class ="col">
      <!--vælg medlemmer-->  
      <div class="card">
        <div class ="card-body">
          <p class="card-text">Vælg den eller de rettigheder, som skal tildeles til det valgte medlem </p>
          <ng-multiselect-dropdown
          [placeholder]="'Vælg rettighed(er)'"
          [settings]="retdropdownSettings"
          [data]="retdropdownList"
          [(ngModel)]="retselectedItems"
          (onSelect)="onrItemSelect($event)"
          >
          </ng-multiselect-dropdown>
        </div>
      </div>
    </div>  
    <div class = "col">
      <div class = "card">
        <div class = "card-body">
          <p class="card-text">Vælg den/ de medlemmer som skal tildeles en rettighed(er)</p>
          <ng-multiselect-dropdown
          [placeholder]="'Vælg medlem(mer)'"
          
          [settings]="mdropdownSettings"
          [data]="mdropdownList"
          [(ngModel)]="mselectedItems"
          (onSelect)="onmItemSelect($event)"
          >
          </ng-multiselect-dropdown>
        </div>
        
      </div>
    </div>
  </div>
  <div class = "row">
    <div class = "col">
      <div class ="container">
        <div class="card">
          <div class ="card-body">
            <h5 class="card-title text-center"> Valgte rettigheder</h5>
            <ul class="list-group list-group-flush">
                <li *ngFor = "let item of retselectedItems" class="list-group-item">  
                  
                   
                </li>
            </ul>
          
          </div>
        </div>
      </div>
    </div>
    <div class ="col">
      <div class ="container">
        <div class="card">
          <div class ="card-body">
            <p class="card-text">Valgte medlemmer</p>
            
          
          </div>
        </div>
      </div>
    </div>
    
  </div>
    
</div>
  










