<div>
    <div class ="container">
        
    <!--Medlemsinfo-->
    <div class = "container">
        <div class="jumbotron">
            <div class="container">
                <div class = "row">
                    <div class="col-sm">
                        <!--Medlemsinfo card--> 
                        <form>
                            <div class="card">
                                <div class="card-body"> 
                                   
                                    <h5 class="card-title text-center">Medlemsinfomationer</h5>
                                    <ul class="list-group list-group-flush" name ="MemberById">
                                        <div>
                                            <li class="list-group-item" > 
                                                <b>Medlemsnummer</b> 
                                                <div>
                                                   
                                                    {{MemberById.medlemsnummer}}
                                                </div>
                                            </li >
                                    
                                            <li class="list-group-item" >
                                           
                                                <b>Navn</b><br>
                                                <div>
                                                    {{MemberById.fornavn}} {{MemberById.mellemnavn}} {{MemberById.efternavn}}
                                                </div>
                                          
                                               
                                          
                                            </li>
                        
                                            <li class="list-group-item">
                                          
                                                <b>Adresse</b>
                                            
                                                {{MemberById.adresse}}
                                                
                                           
                                            </li>
                        
                                            <li class="list-group-item">
                                                 <b>
                                                Telefon
                                                </b>
                                                {{MemberById.telefon}}
                                               
                                            
                                            </li>
                                             <li class="list-group-item">
                                                 <b>
                                                Postnummer og by
                                                </b><br>
                                                {{MemberById.postnummer}} {{MemberById.city}}
                                            </li>
                                            <li class="list-group-item">
                                                <b>
                                                Email
                                                </b>
                                                {{MemberById.email}}
                                            </li>
                                            <li class="list-group-item">
                                                <b>
                                                    Fødelsdato
                                                </b>
                                                {{MemberById.bdato}}
                                            </li>
                                            <li class="list-group-item text-center">
                                                <button class ="btn btn-primary" (click)="openMemberModal()"> Rediger </button>
                                            </li>
                                        </div>
                                    </ul>
                                </div>
                            </div> <!--Lukker medlemsinformation card-->   
                            
                            
                        </form>   
                    </div>
                    <div class="col-sm">
                        <!--Prøve Card-->    
                        <div class="card" >
                            <div class="card-body">
                                <h5 class="card-title text-center"> Prøver og Kurser</h5>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">  
                                       <b><!--Svømme-/ vesteprøve--> {{rettighederOversigt[18].rNavn}}</b>
                                        <br>
                                        <b>Dato:</b>  17-06-2020
                                        <br>
                                        <b>Instruktør:</b>  Roer Roersen 
                                    </li>
                            
                                    <li class="list-group-item">
                                        <b>{{rettighederOversigt[19].rNavn}}</b>
                                        <br>
                                        <b>Dato:</b> 17-06-2020 
                                        <br>
                                        <b>Instruktør:</b> Roer Roersen
                                    </li>
                                 
                                    <li class="list-group-item">
                                        <b>{{rettighederOversigt[20].rNavn}}</b> 
                                        <br> 
                                        <b>Dato:</b> 17-06-2020 
                                        <br>
                                        <b>Instruktør:</b> Roer Roersen 
                                    </li>

                                    <li class="list-group-item">
                                        <b>{{rettighederOversigt[22].rNavn}}</b> 
                                        <br> 
                                        <b>Dato:</b> 17-06-2020 
                                        <br>
                                        <b>Godkendt af:</b> Roer Roersen 
                                    </li>

                                    <li class="list-group-item">
                                        <b>{{rettighederOversigt[23].rNavn}}</b> 
                                        <br> 
                                        <b>Dato:</b> 17-06-2020 
                                        <br>
                                        <b>Godkendt af:</b> Roer Roersen 
                                    </li>
                                    <li class="list-group-item">
                                        <b>{{rettighederOversigt[21].rNavn}}</b> 
                                        <br> 
                                        <b>Dato:</b> 17-06-2020 
                                        <br>
                                        <b>Godkendt af:</b> Roer Roersen 
                                    </li>
                                </ul>
                            </div>
                          
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="container">
                              <!--Ro-ret card--> 
                            <div class="card" >
                                <div class="card-body">
                                    <h5 class="card-title text-center">Ro-ret</h5>
                                    <div class="container">
                                        <table class ="table">
                                            <th>
                                                <thead>
                                                    <th>
                                                        Dato
                                                    </th>
                                                    <th>
                                                        Instruktør
                                                    </th>
                                                    <th>
                                                        Km
                                                    </th>
                                                </thead>
                
                                                <tbody>
                                                    <td>
                                                        <small>17-06-2020</small> 
                                                    </td>
                                                    <td>
                                                        <small>Roer Roersen</small>
                                                    </td>
                                                    <td>
                                                        <small>10</small>
                                                    </td>
                                                </tbody>
                                            </th>
                                        </table>
                                    </div>
                                    
                                </div>
                                <div class="card-footer text-muted text-center">
                                    <small>Roret bevilget af: Roer Roersen d. 17-06-2020</small>
                                </div>
                            </div>
                        <!--Lukker Ro-ret card-->
                        </div>   
                    </div>
                  <!--Lukker rækker med medlemsinformationer-->    
                </div>    
            </div>     
        </div>
        <!--K1-ret -->
        <div class = "jumbotron">
            <div class = container>
                <div class="row">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-text">
                            Korttursstyrmand 1 (K1-ret) må påbegyndes efter 150 km
                          </h5>  
                          <p class="card-text">
                            Følgende er det mindste, en K1-styrmand bør beherske. Instruktøren bedes kvittere for gennemgangen af de enkelte punkter i rubrikkerne. Yderligere udvidelser/ indskrænkninger af de enkelte punkter bekendtgøres ved opslag i klubben. Se i øvrigt reglement for K1-ret.
                          </p>
                          <table class = "table table-bordered">
                              <thead>
                                    <th>
                                        Delmål
                                    </th>
                                    <th>
                                        Dato
                                    </th>
                                    <th>
                                        Instruktør
                                    </th>
                              </thead>

                              <tbody>
                                <tr>
                                    <td>
                                        {{rettighederOversigt[0].rNavn}}
                                    </td>
                                    <td>
                                        17-05-2020
                                    </td>
                                    <td>
                                        17-05-2020
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{rettighederOversigt[1].rNavn}}
                                    </td>
                                    <td>
                                        17-05-2020
                                    </td>
                                    <td>
                                        17-05-2020
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{rettighederOversigt[2].rNavn}}
                                    </td>
                                    <td>
    
                                    </td>
                                    <td>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{rettighederOversigt[3].rNavn}}
                                    </td>
                                    <td>
                                        
                                    </td>
                                    <td>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{rettighederOversigt[4].rNavn}}
                                    </td>
                                    <td>
    
                                    </td>
                                    <td>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{rettighederOversigt[5].rNavn}}
                                    </td>
                                    <td>
    
                                    </td>
                                    <td>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{rettighederOversigt[6].rNavn}} 
                                    </td>
                                    <td>
    
                                    </td>
                                    <td>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{rettighederOversigt[7].rNavn}}
                                    </td>
                                    <td>
    
                                    </td>
                                    <td>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{rettighederOversigt[8].rNavn}}
                                    </td>
                                    <td>
    
                                    </td>
                                    <td>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{rettighederOversigt[9].rNavn}}
                                    </td>
                                    <td>
    
                                    </td>
                                    <td>
                                        
                                    </td>
                                </tr>
                            </tbody>    
                           
                          </table>
                          
                        </div>
                        <div class="card-footer text-muted text-center">
                            <div>{{rettighederOversigt[23].rNavn}}</div>
                           <div>Læs om hvordan du opnår K1 <a href="#">her</a></div>
                        </div>
                      </div>
                </div> 
            </div>
        <!--Lukker K1 jumbo-->    
        </div>
   <!--K2-ret -->
        <div class = "jumbotron">
            <div class = container>
                <div class="row">
                    <div class="card">
                        <div class="card-body">
                            
                          <h5 class="card-text">
                            Korttursstyrmand 2 (K2-ret)
                          </h5>  
                          <p class="card-text">
                            K2-instruktionen kan gives af instruktør med L-ret. For at kunne påbegynde instruktion til K2-ret forudsættes det, at aspiranten har K1-ret og minimum er 2.-års roer. K2-ret kan tidligst bevilges roeren i dennes 2. sæson, når vedkommende har roet minimum 1000 km i alt. Instruktionen til Norsminde skal være givet samme år, der gives K2-ret. Der kan ikke gives K2-ret til roere, som kun har været sydpå en enkelt gang. Se i øvrigt reglement for K2-ret.
                          </p>
                          
                          <table class = "table table-bordered">
                              <thead>
                                    <th>
                                        Delmål
                                    </th>
                                    <th>
                                        Dato
                                    </th>
                                    <th>
                                        Instruktør
                                    </th>
                              </thead>

                              <tbody>
                                <tr>
                                    <td>
                                        {{rettighederOversigt[10].rNavn}}
                                    </td>
                                    <td>
                                        17-05-2020
                                    </td>
                                    <td>
                                        17-05-2020
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{rettighederOversigt[11].rNavn}}
                                    </td>
                                    <td>
                                        17-05-2020
                                    </td>
                                    <td>
                                        17-05-2020
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{rettighederOversigt[12].rNavn}}
                                    </td>
                                    <td>
    
                                    </td>
                                    <td>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{rettighederOversigt[13].rNavn}}
                                    </td>
                                    <td>
                                        
                                    </td>
                                    <td>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{rettighederOversigt[14].rNavn}}
                                    </td>
                                    <td>
    
                                    </td>
                                    <td>
                                        
                                    </td>
                                </tr>
                            
                            </tbody>    
                           
                          </table>
                          
                        </div>
                        <div class="card-footer text-muted text-center">
                            <div>{{rettighederOversigt[23].rNavn}}</div>  
                            Dato: Formand:  
                            <div>Læs hvordan du opnår K2 <a href="#">her</a></div> 
                        </div>
                      </div>
                </div> 
            </div>
        <!--Lukker K2 jumbo-->    
        </div>
        
        <!--K3-ret -->
        <div class = "jumbotron">
            <div class = container>
                <div class="row">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-text">
                            Korttursstyrmand 3 (K3-ret)
                          </h5>  
                          <p class="card-text">
                            K3-instruktionen gives af instruktør med L-ret. For at kunne påbegynde instruktion til K3-ret forudsættes det, at aspiranten har K1-ret og minimum er 2.-års roer. K3-ret kan tidligst bevilges roeren i dennes 2. sæson, når vedkommende har roet minimum 1000 km i alt. Mindst én af instruktionsturene Kaløvig rundt skal gives i samme sæson, som K3-retten bevilges. Se i øvrigt reglement for K3-ret.
                          </p>
                          <table class = "table table-bordered">
                              <thead>
                                    <th>
                                        Delmål
                                    </th>
                                    <th>
                                        Dato
                                    </th>
                                    <th>
                                        Instruktør
                                    </th>
                              </thead>

                              <tbody>
                                <tr>
                                    <td>
                                        {{rettighederOversigt[15].rNavn}}
                                    </td>
                                    <td>
                                        17-05-2020
                                    </td>
                                    <td>
                                        17-05-2020
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{rettighederOversigt[16].rNavn}}
                                    </td>
                                    <td>
                                        17-05-2020
                                    </td>
                                    <td>
                                        17-05-2020
                                    </td>
                                </tr>

                            </tbody>    
                           
                          </table>
                          
                        </div>
                        <div class="card-footer text-muted text-center">
                            <div>{{rettighederOversigt[23].rNavn}} </div> 
                            Dato: Formand: 
                            <div>Læs hvordan du opnår K3 <a href="#">her</a></div>
                        </div>
                      </div>
                </div> 
            </div>
        <!--Lukker K3 jumbo-->    
        </div>
    <!--L-ret -->
    <div class = "jumbotron">
        <div class = container>
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-text">
                            Langtursstyrmand (L-ret)
                        </h5>  
                        <p class="card-text">
                        Faste krav til L-ret er beståelse af L-kursus og vælteprøve i inrigger. Se i øvrigt reglement for L-ret.

                        </p>
                        <div class="block">
                            <b>L-ret bevilget:</b>
                            <ul class="list-group list-group-flush">
                                
                                <li class="list-group-item"> 
                                    <table>
                                        <thead>
                                            <th>
                                                Dato
                                            </th>
                                            <th>
                                                Formand
                                            </th>
                                        </thead>
                                        <tbody>
                                            <td>
                                                16-06-2020
                                            </td>
                                            <td>
                                                Roer Roersen
                                            </td>
                                        </tbody>
                                    </table>  
                                </li>
                            </ul> 
                        </div>
                        
                        <table class = "table table-bordered">
                            <thead>
                                <th>
                                    Tur-nr
                                </th>
                                <th>
                                    Destination
                                </th>
                                <th>
                                    Roede km
                                </th>
                            </thead>
                            <tbody>
                                <tr>
                                  <td>
                                     1 
                                  </td>
                                  <td>
                                      Æbleø
                                  </td>
                                  <td>
                                      17-05-2020
                                  </td>
                                </tr>
                                
                              
                              
                          </tbody>    
                         
                        </table>   
                        
                      
                      
                    </div>
                    <div class="card-footer text-muted text-center">
                       <div> Læs mere om L-ret <a href="#">her</a></div> 
                       Er du klar til at ansøge om L-ret ? <div><a href="#" class="btn btn-primary">Ansøg</a></div>
                    </div>
                  </div>
            </div> 
        </div>
    <!--Lukker L-ret jumbo-->    
    </div>    
    <!--lukker overordnet container-->    
    </div>   
</div>
            

